/* .search-box { */
.column {
    /* min-height: 40vh; */
    max-width: 40%; /*does this work better? We can adjust size of image if too big but the box is a better size in random.js*/
}

.list-style {
    list-style-type: disc;
    list-style-position: inside;
}

#drink-card {
    display:none;
}

td {
    width: 25%;
}

table {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .column {
        max-width: 100%;
    }
}