/* .search-box { */
.column {
    /* width: 30%!important; */
    min-height: 40vh;
    max-width: 40%;
}

.list-style {
    list-style-type: disc;
    list-style-position: inside;
}

#drink-card {
    display:none;
}

@media screen and (max-width: 768px) {
    .column {
        max-width: 100%;
    }
}